.form-container {
  background: linear-gradient(to bottom, $primary, rgba(179, 204, 208, 0.3));
  background-size: contain;
  display: grid;
  gap: 4rem;

  .QuizForm {
    display: flex;
    gap: 1rem;
  }
  .quizTitle {
    margin-top: 2rem;
  }
}
