.form-container {
  background: linear-gradient(to bottom, $primary, rgba(179, 204, 208, 0.3));
  background-size: contain;
  .QuizForm {
    display: flex;
    gap: 1rem;
  }
  .input-container {
    input {
      width: 19rem;
      text-align: center;
    }
    .input-title {
      font-size: 1.4rem;
      font-weight: 900;
      color: black;
      text-align: center;
    }
  }
}
